<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <form method="post" action="/comments/<%= foundComment.id %>?_method=PATCH">
        <label for="comment">Edit the Comment: </label>
        <br>
        <textarea cols="35" rows="5" placeholder="Enter Comment" name="comment" id="comment">
            <%= foundComment.comment %>
        </textarea>
        <br>
        <button>Submit</button>
    </form>
</body>

</html>