body {
    font-family: "Roboto", Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #14213d;
}

button {
    background: none;
    color: #ca6702;
    padding: 1em 2em;
    font-size: 1.5em;
    border: 2px solid;
    border-radius: 5px;
    transition: all 0.3s;
}

button:hover {
    border: 2px solid #ffb703;
    color: #ffb703;
    box-shadow: 0px 2px 0.4px #ffb703;
    transform: translateY(-5px);
    cursor: pointer;
}

button:active {
    background-color: gray;
    transform: scale(2);
}